@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"); /*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
  list-style-type: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

.header {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 930px;
  height: 29px;
  margin-top: 58px;
}
.header-left {
  display: flex;
  align-items: center;
  width: 136px;
  padding: 0px;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
  cursor: pointer;
}
.header-right {
  display: flex;
  position: absolute;
  right: 0;
  color: #4b5966;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@keyframes moveVertically {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-37px);
  }
}
.news-roller {
  display: flex;
  gap: 8px;
  margin-top: 40px;
  height: 49px;
}
.news-roller .press-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.71px;
}
.news-roller .headline {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  color: #4b5966;
  height: 17px;
}
.news-roller .headline-container-left, .news-roller .headline-container-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news-roller .headline-item {
  display: flex;
  align-items: center;
  height: 17px;
}
.news-roller-left, .news-roller-right {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  width: 461px;
  height: 49px;
  border: 1px solid #d2dae0;
  background-color: #f5f7f9;
}

.total-media__tab-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 644px;
  width: 930px;
  height: 24px;
}
.total-media .press-tab {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 216px;
  height: 22px;
}
.total-media .press-tab__total {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
}
.total-media .press-tab__my-subs {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #879298;
}
.total-media .view-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 24px;
  gap: 8px;
}
.total-media .view-tab__list {
  color: #d2dae0;
}
.total-media .view-tab__grid {
  color: #4362d0;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 24px;
  border: 1px solid #d2dae0;
  width: 930px;
  height: 388px;
}
.grid-view .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #d2dae0;
}

.right-button {
  display: flex;
  position: relative;
  left: 978px;
  bottom: 215px;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding: 0 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
